In [4]:
oz_students = [
    {"name": "백현우", "python": 4, "database": 3, "Django": 3, "AWS": 2},
    {"name": "홍혜인", "python": 4, "database": 5, "Django": 2, "AWS": 4},
    {"name": "윤은성", "python": 3, "database": 4, "Django": 4, "AWS": 1},
    {"name": "홍수철", "python": 2, "database": 3, "Django": 1, "AWS": 5},
]
print("이름", "총점", "평균", sep="\t")

# oz_students 리스트의 각 학생에 대해 반복문을 실행합니다.
for student in oz_students:
    # 각 학생의 Python, Database, Django, AWS 능력 점수를 합산하여 총점을 계산합니다.
    ability_sum = student["python"] + student["database"] + student["Django"] + student["AWS"]
    # 총점을 4로 나누어 평균을 계산합니다.
    ability_average = ability_sum / 4
    
    # 학생의 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
    print(student["name"], ability_sum, ability_average, sep="\t")

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

In [ ]:
def create_oz_students(name, python, database, django, AWS):
    return {
        "name": name,
        "python": python,
        "database": database,
        "Django": django,
        "AWS": AWS
    }

oz_students = [
    create_oz_students("백현우", 4,3,3,2),
    create_oz_students("홍혜인",4,5,2,4),
    create_oz_students("윤은성",3,4,4,1),
    create_oz_students("홍수철", 2,3,1,5)
]

print("이름", "총점", "평균", sep="\t")

# oz_students 리스트의 각 학생에 대해 반복문을 실행합니다.
for student in oz_students:
    # 각 학생의 Python, Database, Django, AWS 능력 점수를 합산하여 총점을 계산합니다.
    ability_sum = student["python"] + student["database"] + student["Django"] + student["AWS"]
    # 총점을 4로 나누어 평균을 계산합니다.
    ability_average = ability_sum / 4
    
    # 학생의 이름, 총점, 평균을 탭(\t)으로 구분하여 출력합니다.
    print(student["name"], ability_sum, ability_average, sep="\t")

이름	총점	평균
백현우	12	3.0
홍혜인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

In [16]:
def create_oz_students(name, python, database, django, AWS):
    return {
        "name": name,
        "python": python,
        "database": database,
        "Django": django,
        "AWS": AWS
    }

def get_sum(student):
    return student["python"] + student["database"] + student["Django"] + student["AWS"]

def get_average(student):
    return get_sum / 4

def to_string(student):
    return f'{student["name"]}\t{get_sum(student)}\t{get_average(student)}'

def __str__(self):
    return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'

oz_students = [
    create_oz_students("백현우", 4,3,3,2),
    create_oz_students("홍혜인",4,5,2,4),
    create_oz_students("윤은성",3,4,4,1),
    create_oz_students("홍수철", 2,3,1,5)
]

print("이름", "총점", "평균", sep="\t")

# oz_students 리스트의 각 학생에 대해 반복문을 실행합니다.
for student in oz_students:
    print(str(student))

이름	총점	평균
{'name': '백현우', 'python': 4, 'database': 3, 'Django': 3, 'AWS': 2}
{'name': '홍혜인', 'python': 4, 'database': 5, 'Django': 2, 'AWS': 4}
{'name': '윤은성', 'python': 3, 'database': 4, 'Django': 4, 'AWS': 1}
{'name': '홍수철', 'python': 2, 'database': 3, 'Django': 1, 'AWS': 5}

In [ ]:
class CreateOzStudent:
    pass

student = CreateOzStudent()             #생성자 함수, 클래스를 이용해 만들어진 객체 = 인스턴스

In [15]:
class Student:
    def __init__(self):
        pass
        
student = Student()

print(isinstance(student,Student))

True

In [ ]:
class CreateOzStudent:

    count = 0

    def __init__(self,name, python, database, django, AWS):
        self.name = name
        self.python = python
        self.database = database
        self.django = django
        self.AWS = AWS

        CreateOzStudent.count += 1
        print(f'{create_oz_students.count}번째 수강생의 정보가 추가되었습니다.')

    def get_sum(student):
        return self.python + self.database + self.django + self.AWS

    def get_average(student):
        return get_sum / 4

    def __str__(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'

oz_students = [
    create_oz_students("백현우", 4,3,3,2),
    create_oz_students("홍혜인",4,5,2,4),
    create_oz_students("윤은성",3,4,4,1),
    create_oz_students("홍수철", 2,3,1,5)
]

print(f'현재 데이터가 입력된 총 수강생은 {CreateOzStudent.count}명 입니다.')

print("이름", "총점", "평균", sep="\t")

# oz_students 리스트의 각 학생에 대해 반복문을 실행합니다.
for student in oz_students:
    print(str(student))

In [18]:
class ChunkedRange:
    """"""

    """"""
    def __init__(self, stop, chunk_size):
        self.stop = stop
        self.chunked_size = chunk_size
        self.current = 0

    def __iter__ (self):
        return self

    def __next__(self):
        if self.current >= self.stop:
            raise StopIteration
        start = self.current
        end = min(self.current + self.chunked_size, self.stop)
        chunk = list(range(start, end))
        self.current = end
        return chunk
for chunk in ChunkedRange(stop=10, chunk_size=3):
    print(chunk)

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9]

In [26]:
pi = 3.14
radius = int(input("반지름을 입력하세요. :"))
func_01 = print(2 * pi * radius)

12.56

In [27]:
x, y = 0, 1
x, y = y, x

print(x)
print(y)

1
0

In [28]:
var = [1,2,3]

print(var[0])

1

In [ ]:
var = {"name":"철수", "age":"20"}
print(var["age"])

var["name"] = "철수2"
print(var)
]

20
{'name': '철수2', 'age': '20'}
{'name': '철수2', 'age': '20', '직업': '개발자'}
{'name': '철수2', 'age': '20', '직업': '아빠'}

str

In [60]:
var = (10, 20, 30)
type(var)
print(var[1])

20

In [63]:
x, y, z = 0, 1, 2


print(x)
print(y)
print(z)

0
1
2

In [65]:
x = 5

x += 3

x

8

In [66]:
a = 20

a /= 4

print(a)

5.0

In [67]:
b = 7
b %= 3

print(b)

1

In [68]:
msg = "Hello"
msg += " World"

print(msg)

Hello World

In [69]:
lst = [1, 2]
lst += [3, 4]

lst

[1, 2, 3, 4]

In [71]:
print(input())

In [83]:
# print(f' 당신의 나이는 {input(f'나이를 입력하세요.')}살 입니다.')

age = input('나이를 입력하세요')

def print_age(age):
    print(f'당신의 나이는 {age}살 입니다.')
# print(f'당신의 나이는 {age}살 입니다.')

print_age(age)

당신의 나이는 22살 입니다.

In [ ]:
num1, num2 = input(f'두 숫자를 입력하세요. (공백으로 구분)').split()

num1, num2 = input(f'두 숫자를 입력하세요. (공백으로 구분)').split()

print(num1 + num2)

22

In [85]:
print(len(input(f'문자열을 입력하시오')))

3

In [92]:
while True:
        
    num1, num2, num3 = map(int,input(f'숫자 세 개 입력, 공백').split())

    def average(num1, num2, num3):
        return(num1 + num2 + num3) / 3

    print(average(num1, num2, num3))
    
    if not:
        print(에러발생)

SyntaxError: invalid syntax (2375192650.py, line 10)

In [ ]:

while True:
    print("i : ", i)
    i += 1

i :  1
i :  2
i :  3
i :  4
i :  5
i :  6
i :  7
i :  8
i :  9
i :  10
i :  11
i :  12
i :  13
i :  14
i :  15
i :  16
i :  17
i :  18
i :  19
i :  20
i :  21
i :  22
i :  23
i :  24
i :  25
i :  26
i :  27
i :  28
i :  29
i :  30
i :  31
i :  32
i :  33
i :  34
i :  35
i :  36
i :  37
i :  38
i :  39
i :  40
i :  41
i :  42
i :  43
i :  44
i :  45
i :  46
i :  47
i :  48
i :  49
i :  50
i :  51
i :  52
i :  53
i :  54
i :  55
i :  56
i :  57
i :  58
i :  59
i :  60
i :  61
i :  62
i :  63
i :  64
i :  65
i :  66
i :  67
i :  68
i :  69
i :  70
i :  71
i :  72
i :  73
i :  74
i :  75
i :  76
i :  77
i :  78
i :  79
i :  80
i :  81
i :  82
i :  83
i :  84
i :  85
i :  86
i :  87
i :  88
i :  89
i :  90
i :  91
i :  92
i :  93
i :  94
i :  95
i :  96
i :  97
i :  98
i :  99
i :  100

In [121]:
# print(input(f' 문자열을 입력하라고').upper())
var = input(f' 문자열을 입력하라고')
print(var)
print(var[::-1])

asd
dsa

In [130]:
var = int(input(f'숫자를 입력하면'))
if var % 2 == 0:
    print(f'입력한 숫자는 짝수입니다.')
else:
    print(f'홀수')

입력한 숫자는 짝수입니다.

In [131]:
def hello():
    print("hello")

hello()

hello

In [134]:
def length(s):
    print(len(s))

length("alal")

4

In [ ]:
# for i in range(1,6):
#     print(i)

# text = "Python"

# # for ch in text:
# #     print(ch)

# text = "Python"
# var = list(text)
# print(var)

# for i in range(len(text)):
#     print(var[i])

TypeError: string indices must be integers, not 'str'

In [158]:
text = "Python"

for ch in text:
    print(ch.upper())

for i, ch in enumerate(text):
    print(i,ch)

for ch in reversed(text):
    print(ch)

P
Y
T
H
O
N
0 P
1 y
2 t
3 h
4 o
5 n
n
o
h
t
y
P

In [175]:
class Car:
    def __init__(self, model_year, color ="white"):

        self.color = color
        self.model_year = model_year

    default_color = "white"

car01 = Car(2000)
car02 = Car(2025,"red" )

print(car02.color)
print(car01.color)
car01.color

red
white

'white'

In [177]:
class BankAccount:
    def __init__(self, school_name):
        self.school_name = school_name

    school_name = "ABC High School"

student01 = BankAccount("XYZ High School")
student02 = BankAccount

student01
student02

__main__.BankAccount